<nav class="level">
    <div class="level-left is-mobile d-flex">
        <%= link_to post, class: "level-item" do %>
            <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
        <% end %>
        <%= link_to edit_post_path(post), class: "level-item" do %>
            <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
        <% end %>
        <%= link_to post, method: :delete, data: { confirm: "Are you sure you want to delete this post?"} do %>
            <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
        <% end %>
    </div>
</nav>