<section class="section">
  <div class="container">
      <div class="columns">
          <%=  render_profile %>
          <%= render_feed %>
          <%= render_offlinefeed%>
      </div>
  </div>
</section>

